<div class="container col-md-offset-4 col-md-4">
  <%= bootstrap_form_for @retailer, :html => {:multipart => true} do |f| %>
    <% if @retailer.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@retailer.errors.count, "error") %> prohibited this retailer from being saved:</h2>

        <ul>
        <% @retailer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    

      <%= f.text_field :name %>
      <%= f.text_area :description %>
      <%= f.text_field :address %>
      <%= f.text_field :address2 %>
      <%= f.text_field :address3 %>
      <%= f.text_field :city %>
      <%= f.text_field :postcode %>
      <%= f.email_field :email %>
      <%= f.text_field :openinghours, label: "Opening Hours" %>
      <%= f.password_field :password %>
      <%= f.password_field :password_confirmation %>
      <%= f.file_field :asset, label: "Please upload your brand image" %><br>
      <div style="text-align:center;"><%= f.submit "Create account" %></div>
    
  <% end %>
</div>