<p id="notice"><%= notice %></p>
<div class="container fullpage">
  <div class="jumbotron">
  <h1>What's for lunch?</h1>
  <p>Choose a retailer below to see their menu for today</p>
  
</div>

  
  
  <div class="row retailer-row">
   
      <% @retailers.each do |retailer| %>
   
      <div class="col-sm-4" id="retailer">
        
      <h3><%= retailer.name %></h3>
      <p><%= retailer.description %></p>
      <p>Address: <%= retailer.address %></p>
      
      <button class="btn btn-default btn-xs"><%= link_to 'See menu items', retailer_items_path(retailer) %></button>
      <%= link_to 'Edit', edit_retailer_path(retailer) %>
      <%= link_to 'Destroy', retailer, method: :delete, data: { confirm: 'Are you sure?' } %>
      
    
    </div>
    <% end %>
  
 </div>




<%= link_to 'New Retailer', new_retailer_path %>
</div>