<p id="notice"><%= notice %></p>
 

<% if params[:category] %>
  <h3 style="text-align:center; margin-top:50px;">Here are all the retailers that sell <%= Category.find_by_id(params[:category][:category_id]).category.downcase %></h3>
<% end %>

<% if params[:postcode] %>
  <h3 style="text-align:center; margin-top:50px;">Here are all the retailers within a 5 minute walk</h3>
<% end %>

<div class="retailer-index col-md-offset-2 col-md-8">
  <table class="table">
    
    <tbody>
    <% @retailers.each do |retailer|%>
      <div class="row retailer-row">
        <tr>
          
          <td class="col-md-2 retailer-image vert-align"><%= image_tag(retailer.asset.url(:thumb)) %></td>
          <td class="col-md-2 vert-align"><h5><%= retailer.name %></h5></td>
          <td class="col-md-4 vert-align" style="padding-right:15px;"><h5><%= retailer.description %></h5>
            
            <%= retailer.address %><% unless retailer.address2.blank?%>, <%= retailer.address2 %><% end %><% unless retailer.address3.blank?%>, <%= retailer.address3 %><% end %>, <%= retailer.city %>, <%= retailer.postcode %></td>
          <% if params[:postcode] %>
          <td class="col-md-1 vert-align"><%= (retailer.distance * 1906).round %> meters away</td>
          <% end %>
          <td class="col-md-1 vert-align"><%= link_to "See menu", retailer_items_path(retailer), class:"btn btn-default"%></td>
            
        </tr>
      
      </div>
    <% end %>
    </tbody>
  </table>
</div>
