<p id="notice"><%= notice %></p>
  
 
<div class="retailer-index col-md-offset-2 col-md-8">
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th><%= link_to "Name", :sort => "name" %></th>
        <th><%= link_to "Address", :sort => "postcode" %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @retailers.each do |retailer|%>
      <div class="row retailer-row">
        <tr>
          
          <td class="col-md-2 retailer-image vert-align"><%= link_to image_tag(retailer.asset.url(:thumb)), retailer_items_path(retailer) %></td>
          <td class="col-md-2 vert-align"><h5><%= link_to retailer.name, retailer_path(retailer) %></h5></td>
          <td class="col-md-5 vert-align"><%= retailer.description %><br>
            <%= retailer.address %>, <%= retailer.address2 %>, <%= retailer.city %>, <%= retailer.postcode %></td>
          <td class="col-md-1 vert-align"><%= link_to "See menu", retailer_items_path(retailer), class:"btn btn-default"%></td>
            
        </tr>
      
      </div>
    <% end %>
    </tbody>
  </table>
</div>
