<p id="notice"><%= notice %></p>

<h1>Listing Retailers</h1>

  
    <% @retailers.each do |retailer| %>
      
    
      <h2><%= retailer.name %></h2>
      <p><%= retailer.description %></p>
      <p>Address: <%= retailer.address %></p>
      
      <button><%= link_to 'See menu items', retailer_items_path(retailer) %></button>
      <%= link_to 'Edit', edit_retailer_path(retailer) %>
      <%= link_to 'Destroy', retailer, method: :delete, data: { confirm: 'Are you sure?' } %>
        
    
    <% end %>



<br>

<%= link_to 'New Retailer', new_retailer_path %>
