<p id="notice"><%= notice %></p>

<h1>Listing Retailers</h1>

  
    <% @retailers.each do |retailer| %>
      
    
      <h2><%= retailer.name %></h2>
      <p><%= retailer.description %></p>
      <p>Address: <%= retailer.address %></p>
      <ul>
      <li><%= link_to 'See menu items', retailer_items_path(retailer) %></li>
      <li><%= link_to 'Edit', edit_retailer_path(retailer) %></li>
      <li><%= link_to 'Destroy', retailer, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        
    </ul>
    <% end %>



<br>

<%= link_to 'New Retailer', new_retailer_path %>
