<p id="notice"><%= notice %></p>

Retailer Id = <%= @retailer.id %><br>
params[:session] = <%= params[:session]%><br>
session[:retailer_id] = <%= session[:retailer_id]%>
<! Since there is a retailer id within the session, suggests that there is a live session. So why don't the links change? !>

<h2>Welcome <%= @retailer.name %></h2>

<p>
  <strong>Name:</strong>
  <%= @retailer.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @retailer.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @retailer.description %>
</p>

<p>
  <strong>Items:</strong>
  <% @retailer.items.each do |item| %>
  <%= item.name %>
  <%= item.price %>
  <%=  item.category %>
  <% end %>
</p>

<%= link_to 'Add new Items', new_retailer_item_path(@retailer) %>
<%= link_to 'Edit shop details', edit_retailer_path(@retailer) %> |
<%= link_to 'Back', retailers_path %>
