
<div class="container">
  <div class="page-header text-center">
    <h1>Menu for <%= @retailer.name %></h1>
  </div>
  
  <div class=" container bottomlinks">
    <div class="col-md-2 col-md-offset-5">
      <% if correct_retailer %>
      <%= link_to 'Add New Item', new_retailer_item_path, class: "btn btn-default" %>
      <% end %>
    </div>
  </div>
  
  <div class="col-md-8">
    <% if @retailer.specials.any? %>
  
      <div id="specials">
        <% @retailer.specials.each do |item| %>
        <h2 class="items-header">Today's specials</h2>
          <table class=" table table-condensed">
            <tbody>
              <tr>
                <td class="col-md-6"><%= item.name %></td>
                <td class="col-md-3"><%= number_to_currency(item.price.to_f, :unit => "£") %></td>
                   <% if correct_retailer %>
                <td class="col-md-1"><%= link_to 'Edit', edit_retailer_item_path(@retailer, item) %></td>
                <td class="col-md-1"><%= link_to 'Delete', retailer_item_path(@retailer, item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                   <% end %>
              </tr>
            </tbody>
          </table>
        <% end %>
     </div>
   <% end %>  
      
      <% @retailer.grouped_items.each do |key, items| %>
      <h2 class="items-header"><%= key.category %></h2>
        <table class=" table table-condensed">
          
          <tbody>
            <% items.each do |item| %>
               <tr>
                 <td class="col-md-6"><%= item.name %></td>
                 <td class="col-md-3"><%= number_to_currency(item.price.to_f, :unit => "£") %></td>
                 <% if correct_retailer %>
                 <td class="col-md-1"><%= link_to 'Edit', edit_retailer_item_path(@retailer, item) %></td>
                 <td class="col-md-1"><%= link_to 'Delete', retailer_item_path(@retailer, item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                 <% end %>
               </tr>
            <% end %>
         </tbody>
      </table> 
     <% end %>
    </div>
  
  <div class="retailer-details col-md-3">
    <p><%=image_tag(@retailer.asset.url(:medium))%></p>
    <h2><%= @retailer.name%></h2> <br>
    <%= @retailer.description%><br>
    <br>
    <%= @retailer.address %><br>
    <% unless @retailer.address2.blank?%><%= @retailer.address2 %><br><% end %>
    <% unless @retailer.address3.blank?%><%= @retailer.address3 %><br><% end %>
    <%= @retailer.postcode %><br>
    <br>
    <p>Opening hours: <%= @retailer.openinghours %></p><br>
    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=250x250&sensor=false&zoom=17&markers=#{@retailer.latitude}%2C#{@retailer.longitude}" %>
    <br>
    
    
  </div>

  
</div>