<p id="notice"><%= notice %></p>

<h1>Listing Items for <%= @retailer.name %></h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Category</th>
      <th>Retailer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @retailer.items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.price %></td>
        <td><%= item.category %></td>
        
        <td><%= link_to 'Show', retailer_items_path %></td>
        <td><%= link_to 'Edit', edit_retailer_item_path(@retailer, item) %></td>
        <td><%= link_to 'Destroy', retailer_item_path(@retailer, item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_retailer_item_path %>
