<div class="col-md-offset-2 col-md-8">
  
  <div style="text-align:center;">
    <h1> Surprise! </h1>
  </div>

  
  
    <div style="text-align:center; margin:40px;">
      <h4>How about a <%= @item.name %> <%= @item.category.category.singularize %> from <%= @item.retailer.name %>?</h4>
    </div>
    
    
    
     
    <table class="table">
      <tbody>
        <div class="row retailer-row">
          <tr>
            <td class=" retailer-image vert-align"><%= link_to image_tag(@item.retailer.asset.url(:thumb)), retailer_items_path(@item.retailer) %></td>
            <td class=" vert-align"><h5><%= link_to @item.retailer.name, retailer_path(@item.retailer) %></h5></td>
            
            <td class=" vert-align"><button class="btn"><%= link_to "See menu", retailer_items_path(@item.retailer)%></button></td>
          </tr>
        </div>
      </tbody>
    </table>
  
    <div class="col-md-offset-3 col-md-6" style="text-align:center;">
      <h4 >No good? Click again for another suggestion </h4><br>
      <button class="btn" style="text-align:center;"><%= link_to "Surprise me", items_random_path %></button>
    </div>
  
</div>
  
  
  
 
  