<div class="col-md-offset-4 col-md-4">
  <%= bootstrap_form_for @category do |f| %>

    <%= f.text_field :category %>
    <%= f.number_field :order_number %>
  <%= f.form_group :random do %>
  <%= f.check_box :random, label: "This should be included in randomiser" %>
  <% end %>
    <%= f.submit %>

  <% end %>
</div>