<div class="col-md-offset-4 col-md-4">
  <h1 style="text-align:center;">All categories</h1><br>



  <table class="table">
    <thead>
      <tr>
        <td><h4>Category</h4></td>
        <td><h4>Order</h4></td>
        <td><h4>Added to random?</h4></td>
      </tr>
    </thead>
    
    <tbody>
      <tr>
        <% @categories.each do |category| %>
        <td><%= category.category %></td>
        <td><%= category.order_number %></td>
        <td><%= category.random %></td>
        <td><%= link_to "Edit", edit_category_path(category) %>
      </tr>
        <% end %>
     
     </tbody>
  </table>

  <div style="text-align:center;">
    <%= link_to "Add a new category", new_category_path, class: "btn btn-default" %>
  </div>
</div>