<!DOCTYPE html>
<html>
<head>
  <title>Menu</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="bootstrap.min.css" rel="stylesheet">
<%= csrf_meta_tags %>
</head>
 
 
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    
    <div class="navbar-header">
      
      <!-- Something to do with collapsing the navbar -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <!-- Home link -->
        <div class="navbar-brand" id="Home"><%= link_to "Home", static_pages_welcome_path %></div>
    </div>
    
       
    
    <!-- Links on the right -->
    <% if current_retailer %> 
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to " #{current_retailer.name}'s menu", retailer_items_path(current_retailer.id) %></li>
      <li><%= link_to "Log out", logout_path, method: "delete" %></li>
    </ul>
    <% else %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Retailer Log In", login_path %></li>
      </ul>
    <% end %> 
  </div>
</nav>
  
  <%= render 'layouts/messages' %>
  
      <%= yield %>

  <footer class="footer">
    <div class="container">
      <div class="row" style="padding-top:20px;">
         <ul class="col-md-offset-4 col-md-4">
           
            <li style="display:inline; padding-left:20px;"><%= link_to "Blog", static_pages_fake_page_path %></li>
            <li style="display:inline; padding-left:20px;"><%= link_to "Contact", static_pages_fake_page_path %></li>
            <li style="display:inline; padding-left:20px;"><%= link_to "Facebook", static_pages_fake_page_path %></li>
            <li style="display:inline; padding-left:20px;"><%= link_to "Twitter",static_pages_fake_page_path %> </li>
            <li style="display:inline; padding-left:20px;"><%= link_to "About", static_pages_fake_page_path %></li>
           
        </ul>     
      </div>
    </div>
  </footer>
  
  
  
</body>
</html>
