<!DOCTYPE html>
<html>
<head>
  <title>Menu</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
 
 
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    
    <div class="navbar-header">
      
      <!-- Something to do with collapsing the navbar -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <!-- Home link -->
      <div class="navbar-brand"><%= link_to "Home", retailers_path %></div>
    </div>
    
    <!-- Search part -->
    <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
           <%= form_tag(retailers_path, :method => "get") do %>
             <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search retailers" %>
           <% end %>
           <button type="submit" class="btn btn-default">Submit</button>
      </div>
      </form>
    
    <!-- Links on the right -->
    <% if current_retailer %> 
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Log out", logout_path, method: "delete" %></li>
    </ul>
    <% else %>
      <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Sign Up", signup_path %></li>
      <li><%= link_to "Log In", login_path %></li>
    </ul>
    <% end %> 
  </div>
</nav>
  
  <%= render 'layouts/messages' %>
  
      <%= yield %>

  <footer class="footer">
    <div class=container>Some text here</div>
  </footer>
</body>
</html>
